<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Settings</title>
</head>
<body>
    
    <header>
        <h1 class="settings-title">Settings</h1>

    </header>

    <main>
        <!-- 
            nome account
            mail
            permessi
            immagine profilo
            


         -->
    
        <div class="changes">
            <button class="cancel-button">Cancel</button>
            <button class="save-button">Apply</button>
        </div>
    </main>
        <!-- 
            footer con crediti e minchiate varie
         -->
    <footer>
        <button type="submit" class="Settings-home">Home</button>
    </footer>
</body>
</html>