<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Settings</title>
    </head>
    <body>
        
        <header>
            <h1 class="settings-title">Settings</h1>

        </header>

        <main>

            <div class="avatar">
                
            </div>

            <div class="username">
                <h3 class="settings-text">username:</h3>
                <input class="user-text" type="text" placeholder="username" autocomplete="off">
            </div>

            <div class="password">
                <h3 class="settings-text">password:</h3>
                <input class="password-text" type="text" placeholder="password" autocomplete="off">
            </div>

            <div class="email">
                <h3 class="settings-text">email:</h3>
                <input class="mail-text" type="text" placeholder="email" autocomplete="off">
            </div>
        
            <div class="changes">
                <button class="save-button">Apply</button>
                <button class="cancel-button">Cancel</button>
            </div>
        </main>
            <!-- 
                footer con crediti e minchiate varie
            -->
        <footer>
            <button type="submit" class="Settings-home">Home</button>
        </footer>


        <script src="/js/settings.js"></script>
    </body>
</html>